
#wb_header { height: 96px; }
#wb_header > .wb_cont_bg { background: transparent none repeat-x scroll center top; }
#wb_main { height: 1140px; padding-bottom: 50px; }
#wb_main > .wb_cont_bg { background: transparent none repeat left top; background-size: auto auto; }
#wb_footer { height: 80px; }
#wb_footer > .wb_cont_bg { background: #ffffff none repeat-x scroll center bottom; }
body { background: transparent url("../gallery_gen/0f694f8bae84540acb3cb8a8c42c974c.png") repeat-x fixed center top; background-size: auto auto; }
.wb_sbg { background: transparent none repeat-y scroll center bottom; }
body, .wb_sbg { min-width: 1200px; min-height: 1316px; }
.wb_cont_inner { width: 1200px; }
.wb_cont_bg { width: 1200px; margin-left: -600px; }
.root { height: 1316px; overflow: visible; min-height: 1316px; }
#wb_element_instance0 { top: 32px; left: 421px; min-width: 749px; width: 749px; min-height: 34px; height: 34px; display: block; z-index: 642; }
#wb_element_instance0 > ul { display: block; }
#wb_element_instance0 ul { background: transparent none no-repeat left top; border: 1px none #000000; }
#wb_element_instance0, #wb_element_instance0 ul { text-align: right; }
#wb_element_instance0 ul ul { background: transparent none no-repeat left top; }
#wb_element_instance0 li { margin: 0px 0px 0px 0px; }
#wb_element_instance0 li a { text-transform: uppercase; border: 1px none #000000; padding: 10px 15px 10px 15px; font: normal bold 12px Helvetica,Arial,sans-serif; text-decoration: none; color: #000000; line-height: 14px; background: transparent none no-repeat left top; }
#wb_element_instance0 li.over > a, #wb_element_instance0 li:focus > a { border: 1px none #000000; font: normal bold 12px Helvetica,Arial,sans-serif; text-decoration: none; color: #ffffff; line-height: 14px; background: #078a70 none no-repeat left top; }
#wb_element_instance0 li.active > a { border: 1px none #000000; font: normal bold 12px Helvetica,Arial,sans-serif; text-decoration: none; color: #ffffff; line-height: 14px; background: #078a70 none no-repeat left top; }
#wb_element_instance0:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance0:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance0:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance1 { top: 33px; left: 90px; min-width: 330px; width: 330px; min-height: 28px; height: 28px; display: block; z-index: 441; }
#wb_element_instance2 { top: 20px; left: 28px; min-width: 50px; width: 50px; min-height: 55px; height: 55px; display: block; z-index: 439; }
#wb_element_instance2 img { width: 50px; height: 55px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance3 { top: -99px; left: 0; right: 0; min-height: 100px; height: 100px; display: block; z-index: 284; }
#wb_element_instance3 > .wb_shp { background: #ffffff none repeat scroll left top; background-size: auto auto; border: 5px none #c0c0c0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 100%; height: 100px; }
#wb_element_instance4 { top: 35px; left: 28px; min-width: 290px; width: 290px; min-height: 24px; height: 24px; display: block; z-index: 445; }
#wb_element_instance5 { top: 35px; left: 983px; min-width: 112px; width: 112px; min-height: 45px; height: 45px; display: block; z-index: 450; }
#wb_element_instance5 img { width: 112px; height: 45px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance6 i { width: 24px; height: 20px; font-size: 20px; }
#wb_element_instance6 { top: 36px; left: 1148px; min-width: 24px; width: 24px; min-height: 20px; height: 20px; display: block; z-index: 451; }
#wb_element_instance7 { top: 0px; left: 0; right: 0; min-height: 80px; height: 80px; display: block; z-index: 440; }
#wb_element_instance7 > .wb_shp { background: #ffffff none repeat scroll left top; background-size: auto auto; border: 5px none #c0c0c0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 100%; height: 80px; }
#wb_element_instance8 { top: 123px; left: 521px; min-width: 648px; width: 648px; min-height: 24px; height: 24px; display: block; z-index: 364; }
#wb_element_instance9 { top: 20px; left: 0px; min-width: 690px; width: 690px; min-height: 217px; height: 217px; display: block; z-index: 365; }
#wb_element_instance10 { top: 920px; left: 50px; min-width: 260px; width: 260px; min-height: 88px; height: 88px; display: block; z-index: 200; }
#wb_element_instance11 { top: 920px; left: 370px; min-width: 260px; width: 260px; min-height: 132px; height: 132px; display: block; z-index: 201; }
#wb_element_instance12 { top: 546px; left: 420px; min-width: 94px; width: 94px; min-height: 85px; height: 85px; display: block; z-index: 202; overflow: hidden; }
#wb_element_instance12 img { width: 90px; height: 90px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance13 { top: 551px; left: 228px; min-width: 90px; width: 90px; min-height: 80px; height: 80px; display: block; z-index: 203; }
#wb_element_instance13 img { width: 90px; height: 80px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance14 { top: 551px; left: 30px; min-width: 90px; width: 90px; min-height: 80px; height: 80px; display: block; z-index: 204; }
#wb_element_instance14 img { width: 90px; height: 80px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance15 { top: 790px; left: 10px; min-width: 742px; width: 742px; min-height: 42px; height: 42px; display: block; z-index: 362; }
#wb_element_instance16 { top: 913px; left: 690px; min-width: 270px; width: 270px; min-height: 154px; height: 154px; display: block; z-index: 207; }
#wb_element_instance17 { top: 640px; left: 20px; min-width: 115px; width: 115px; min-height: 24px; height: 24px; display: block; z-index: 208; }
#wb_element_instance18 { top: 638px; left: 212px; min-width: 122px; width: 122px; min-height: 28px; height: 28px; display: block; z-index: 209; }
#wb_element_instance19 { top: 638px; left: 420px; min-width: 94px; width: 94px; min-height: 28px; height: 28px; display: block; z-index: 210; }
#wb_element_instance20 { top: 450px; left: 10px; min-width: 720px; width: 720px; min-height: 84px; height: 84px; display: block; z-index: 211; }
#wb_element_instance21 { top: 890px; left: 30px; min-width: 300px; width: 300px; min-height: 200px; height: 200px; display: block; z-index: 199; }
#wb_element_instance21 > .wb_shp { background: #ffffff none repeat scroll left top; background-size: auto auto; border: 2px solid #424242; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 300px; height: 200px; }
#wb_element_instance22 { top: 890px; left: 350px; min-width: 300px; width: 300px; min-height: 200px; height: 200px; display: block; z-index: 198; }
#wb_element_instance22 > .wb_shp { background: #ffffff none repeat scroll left top; background-size: auto auto; border: 2px solid #424242; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 300px; height: 200px; }
#wb_element_instance23 { top: 890px; left: 669px; min-width: 311px; width: 311px; min-height: 200px; height: 200px; display: block; z-index: 196; }
#wb_element_instance23 > .wb_shp { background: #ffffff none repeat scroll left top; background-size: auto auto; border: 2px solid #424242; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 311px; height: 200px; }
#wb_element_instance24 { top: 420px; left: 0px; min-width: 780px; width: 780px; min-height: 330px; height: 330px; display: block; z-index: 195; }
#wb_element_instance24 > .wb_shp { background: transparent none repeat scroll left top; background-size: auto auto; border: 5px none #c0c0c0; opacity: 0; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 780px; height: 330px; }
#wb_element_instance25 { top: -1px; left: 0; right: 0; min-height: 421px; height: 421px; display: block; z-index: 363; }
#wb_element_instance25 > .wb_shp { background: #ffffff url("../gallery_gen/f929ba88c745df709db3f618d380866c.jpg") repeat fixed center top; background-size: cover; border: 5px none #c0c0c0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 100%; height: 421px; }
#wb_element_instance26 { top: 420px; left: 0; right: 0; min-height: 330px; height: 330px; display: block; z-index: 194; }
#wb_element_instance26 > .wb_shp { background: #078a70 none repeat scroll left top; background-size: auto auto; border: 0px solid #000000; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 100%; height: 330px; }
#wb_element_instance27 i { width: 24px; height: 20px; font-size: 20px; }
#wb_element_instance27 { top: 24px; left: 1160px; min-width: 24px; width: 24px; min-height: 20px; height: 20px; display: block; z-index: 369; }
#wb_element_instance28 { top: 0px; left: 0; right: 0; min-height: 70px; height: 70px; display: block; z-index: 192; }
#wb_element_instance28 > .wb_shp { background: #ffffff none repeat scroll left top; background-size: auto auto; border: 5px none #c0c0c0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 100%; height: 70px; }
#wb_element_instance29 { top: 1110px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance30 { top: 100px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance1 p:last-child { margin-bottom: 0; }
#wb_element_instance4 p:last-child { margin-bottom: 0; }
#wb_element_instance6 i { position: absolute; left: 0px; top: 0px; text-align: center; }
#wb_element_instance8 p:last-child { margin-bottom: 0; }
#wb_element_instance9 p:last-child { margin-bottom: 0; }
#wb_element_instance10 p:last-child { margin-bottom: 0; }
#wb_element_instance11 p:last-child { margin-bottom: 0; }
#wb_element_instance15 p:last-child { margin-bottom: 0; }
#wb_element_instance16 p:last-child { margin-bottom: 0; }
#wb_element_instance17 p:last-child { margin-bottom: 0; }
#wb_element_instance18 p:last-child { margin-bottom: 0; }
#wb_element_instance19 p:last-child { margin-bottom: 0; }
#wb_element_instance20 p:last-child { margin-bottom: 0; }
#wb_element_instance27 i { position: absolute; left: 0px; top: 0px; text-align: center; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (max-width: 767px) {
}
